<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1 id="empresa">InfoDesign</h1>
        </div>
        <div class="user-info">
            <span id="username">Usuário</span>
            <div id="dropdown">
                <a href="#" id="logout">Logout</a>
            </div>
        </div>
    </header>
    <main>
        <div class="top-bar">
            <h1>Pedidos</h1>
            <button id="add-order" onclick="window.location.href='add_order.html'">Novo Pedido</button>
        </div>
        <table id="orders-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">N° do Pedido</th>
                    <th onclick="sortTable(1)">Tipo OC</th>
                    <th onclick="sortTable(2)">Data</th>
                    <th onclick="sortTable(3)">Valor</th>
                    <th onclick="sortTable(4)">Status</th>
                    <th onclick="sortTable(5)">Vendedor</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui irão as linhas dos pedidos -->
            </tbody>
        </table>
    </main>
    <script type="module" src="../js/profile/main.js"></script>
    <script src="../js/utils/sort.js"></script>
</body>
</html>
