<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pedido</title>
    <link rel="stylesheet" href="../css/newOrder.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1 id="empresa">InfoDesign</h1>
        </div>
        <div class="user-info">
            <span id="username">Usuário</span>
            <div id="dropdown">
                <a href="#" id="logout">Logout</a>
            </div>
        </div>
    </header>
    <main>
        <div class="tabs">
            <button class="tab-button active" data-tab="order-info">Informações do Pedido</button>
            <button class="tab-button" data-tab="carrier-info">Informações da Transportadora</button>
            <button class="tab-button" data-tab="customer-info">Informações do Cliente</button>

        </div>
        <div class="tab-content active" id="order-info">
            <form id="add-order-form">
                <div class="form-group">
                    <label for="codigo">Código do Pedido:</label>
                    <input type="text" id="codigo" name="codigo" required>
                </div>
                <div class="form-group">
                    <label for="tipopedido">Tipo de Pedido:</label>
                    <input type="text" id="tipopedido" name="tipopedido" required>
                </div>
                <div class="form-group">
                    <label for="dtcriacao">Data de Criação:</label>
                    <input type="date" id="dtcriacao" name="dtcriacao" required>
                </div>
                <div class="form-group">
                    <label for="valor">Valor:</label>
                    <input type="number" step="0.01" id="valor" name="valor" required>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" required>
                </div>
                <div class="form-group">
                    <label for="vendedor">Vendedor:</label>
                    <input type="text" id="vendedor" name="vendedor" required>
                </div>
                <button type="submit">Adicionar Pedido</button>
            </form>
        </div>
        <div class="tab-content" id="carrier-info">
            <form id="carrier-info-form">
                <div class="form-group">
                    <label for="carrier-name">Nome da Transportadora:</label>
                    <input type="text" id="carrier-name" name="carrier-name" required>
                </div>
                <div class="form-group">
                    <label for="carrier-phone">Telefone da Transportadora:</label>
                    <input type="text" id="carrier-phone" name="carrier-phone" required>
                </div>
                <div class="form-group">
                    <label for="carrier-email">Email da Transportadora:</label>
                    <input type="email" id="carrier-email" name="carrier-email" required>
                </div>
                <div class="form-group">
                    <label for="carrier-address">Endereço da Transportadora:</label>
                    <input type="text" id="carrier-address" name="carrier-address" required>
                </div>
                <button type="submit">Salvar Transportadora</button>
            </form>
        </div>
        <div class="tab-content" id="customer-info">
            <form id="customer-info-form">
                <div class="form-group">
                    <label for="customer-name">Nome:</label>
                    <input type="text" id="customer-name" name="customer-name" required>
                </div>
                <button type="submit">Salvar Transportadora</button>
            </form>
        </div>
    </main>
    <script type="module" src="../js/orders/newOrder.js"></script>
</body>
</html>
