/* Global Styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

/* Container Styles */
#container-login {
    background-color: #1e1e1e;
    width: 400px;
    margin: 5vh auto;
    padding: 30px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-top: 121.5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

#h1-login {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Form Styles */
form {
    margin-bottom: 30px;
}

label, input {
    display: block;
    width: 370px;
    text-align: left;
    margin-bottom: 10px;
}

label {
    font-weight: block;
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    outline: none;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}
input:focus{    
    outline: none;
    border: 1px solid #6200ea;
    background-color: #292929;
}

/* Checkbox Styles */
.remember-me {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.remember-me input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    
}

#btn-login {
    width: 100%;
    padding: 13px;
    margin-top: 20px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-login:hover {
    background-color: #3700b3;
}

/* Additional Styles */
h2 {
    margin-top: 20px;
    font-size: 20px;
}

.hidden {
    display: none;
}

#error-message {
    color: #ff0000;
    /* border: 1px solid #ff0000; */
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
