body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#container-register {
    background-color: #1e1e1e;
    width: 400px;
    margin: 5vh auto;
    padding: 30px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

#h1-register {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    outline: none;
    box-sizing: border-box;
}

input:focus{    
    outline: none;
    border: 1px solid #6200ea;
    background-color: #292929;
}

#btn-register {
    width: 100%;
    padding: 13px;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-register:hover {
    background-color: #3700b3;
}

.hidden {
    display: none;
}

#error-message {
    color: #ff0000;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
